body,html{
	background: #fff;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
}
.tit_wrap{
	width: 100%;
    line-height: .8rem;
    margin: auto;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: .6rem;
}
.area_wrap{
	display: flex;
	flex-direction:column
}
.tit_wrap div{
	width:6rem;
    font-size: .3rem;
    margin: auto;
}
.mui-icon-arrowdown:before {
    font-size: .3rem;
    content: '\e581';
}
/*#showUserPicker{
	float: left;
}*/
/*#showUserPicker2{
	margin-left: .3rem;
}*/
.sales-money{
	display: flex;
	justify-content: space-around;
}
.sales-tit{
	width: 100%;
}
.sales-tit p:nth-child(1){
/*	text-indent: .3rem;*/
    font-size: .32rem;
    color: #000;
    text-align: center;
}
.sales-tit p:nth-child(2){
	text-align: center;
	font-size: .32rem;
    color: #007aff;
    margin-top: .2rem;
}
.sales-money{
	width: 50%;
	margin: auto;
	margin-top: .4rem;
}
.sales-money li{
	text-align: center;
	color: #000;
}
.sales-money li p{
	text-align: center;
	color: #000;
}
.sales-money li p:nth-child(1){
	font-size: .24rem;
	color: #000;
}
.sales-details{
	margin: auto;
	/*background: #12b5ec;*/
	padding-top: .2rem;
	padding-bottom: .2rem;
/*	width: 7rem;*/
   
}
.sale-table table{
	text-align: center;
	width: 100%;
	margin: auto;
}
.sale-table table tr:nth-child(1){
	color: #313131;
	border-top: 1px solid #eeeeee;
	font-size: .3rem;
}
.sale-table table tr{
	border-bottom: 1px solid #eeeeee;
	line-height: .8rem;
	font-size: .24rem;
}
.sale-table table tr td{
	text-align: center;
	color: #5d5d5d;
}
.sale-table{
	margin-top: .4rem;
	text-align: center;
	margin: .2rem .2rem .2rem .2rem;
   
}
.mui-btn {
	font-size: 16px;
	padding: 8px;
	margin: 3px;
}
h5.mui-content-padded {
	margin-left: 3px;
	margin-top: 20px !important;
}
h5.mui-content-padded:first-child {
	margin-top: 12px !important;
}
.ui-alert {
	text-indent: .3rem;
	padding: .2rem .1rem;
	font-size: .26rem;
}
header a{
	font-size: .16rem !important;
	color: #197DEC !important;
}
.ui-alert{
	border: 1px solid #D9D9D9;
    border-radius: .1rem;
    height: .6rem;
    text-indent: .05rem;
    color: #333333;
    background: none;
    width: 3.3rem;
    background:url(../images/xiangxia2.png) right no-repeat;
    background-size: .2rem .1rem;
    background-position-x: 2.9rem;
    padding-right: .20rem;
} 
.submit{
	width: 100%;
}
.seach{
	width: 5rem;
    height: .8rem;
    background: #4A9CF8;
   /* line-height: .8rem;*/
    font-size: .3rem;
    color: #ffffff;
    text-align: center;
    border-radius: .44rem;
    margin: auto;
    margin-top: .2rem;
    border: none;
    margin-left: .4rem;
    /*display: flex;
   justify-content: center;
   align-items: center;*/
}   
@media screen and (max-width: 320px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    .ui-alert{
		width: 3rem;
		background-position-x: 2.5rem;
    }
}
.stores-information{
	width: 100%;
	font-size: .3rem;
	padding-left: .3rem;
    padding-right: .3rem;
    line-height: .6rem;
    border-top: 1px solid #eeeeee;
    margin-top: .3rem;
}
.store{
	display: none;
}
.store p{
	font-size: .26rem;
    color: #000000;
    line-height: .55rem;
    margin-left: 1.8rem;
}
.model{
	display: none;
}
.model p{
	font-size: .26rem;
    color: #000000;
    line-height: .55rem;
    margin-left: 1.8rem;
}
#showUserPicker6{
	margin-left: -.3rem;
}
.bindsim{
	margin-left: -.4rem !important;
}
.mui-center{
	display: flex;
    justify-content: center;
    align-items: center

}
.lastr{
	background:none;
	
}
